:root {
    --background: #2B2B2B;
    --background-transparent: #2b2b2b5d;
    --background-focus: #464545;
    --background-color: #b763ff;
    --border: 1px solid #a0a0a05d;
    --border-radius: 20px;
    --color: #f5f5f5;
    --box-shadow: 0px 0px 5px 0px #2B2B2B;
}
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ballon {
    transition: all .5s;
    opacity: 0;
    position: absolute;
    padding: .5em;
    background-color: #2b2b2be7;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--color);
    text-decoration: none;
}
.ballon.show {
    opacity: 1;
}
#back.ballon {
    top: 1em;
    left: 1em;
}
#download.ballon {
    bottom: 1em;
    right: 1em;
}
#errors {
    position: absolute;
    top: 2em;
    /* width: 0; */
    width: calc(250px - 1em);
    color: rgb(228, 87, 87);
    padding: .5em;
    transform: translateY(-100px);
    background-color: #2b2b2be7;
    border-radius: var(--border-radius);
    transition: all .5s;
    opacity: 0;
    overflow: hidden;
    word-break: keep-all;
}
#errors.show {
    opacity: 1;
    transform: translateY(0);
}
.calc {
    transition: all .3s;
    height: 120.1px;
}
.result {
    transition: all .3s;
    height: 69.2px;
}
.calc.hidden, .result.hidden {
    overflow: hidden;
    height: 0;
    
}
html {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}
body {
    background: var(--background);
    background-repeat: no-repeat;
    width: 250px;
    /* height: fit-content; */
    text-align: center;
    padding: 1em;
    color: var(--color);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
header {
    margin-bottom: 1em;
}
.form input, .form button, #imc-camp {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: .5em 1em;
    border-radius: var(--border-radius);
    border: 0;
    border: var(--border);
    background: var(--background);
    color: var(--color);
    transition: all .3s;
    box-shadow: var(--box-shadow);
}
.form input+input {
    margin-top: .8em;
}
.form input:focus, .form button:focus {
    outline: none;
    background-color: var(--background-focus);
}
.form button {
    margin-top: .8em;
    cursor: pointer;
}
.form input:focus, .form button:hover {
    background: var(--background-focus);
}
#imc-camp, #class-camp {
    margin-top: .5em;
}
